* {
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
}
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}
/* Background Styles */
.container {
	min-height: 400px;
	background: lightgray;
	padding: 2rem;
}
.item {
	padding: 20px;
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
	border: 1px solid white;
	min-width: 20%;
}
.item-1 {
	min-height: 100px;
	background-color: teal;
}
.item-2 {
	min-height: 200px;
	background-color: steelblue;
}
.item-3 {
	min-height: 300px;
	background-color: sandybrown;
}
/* Flexbox Properties */
.container {
	display: flex;
}
/* Flexbox Items */
.items {
}
